<div
  class="mt-4 bg-dark d-flex justify-content-center align-items-center p-5"
  style="min-height: 200px"
>
  <img src="assets/iaha-logo.png">
  <div class="ms-5 text-white">
    The Ithaca Adult Hockey Association intends for this to be a safe,
    inclusive, and fun experience for all participants. Any concerns of
    inappropriate or dangerous behavior at a league game, either on or off the
    ice, may be reported to
    <a href="mailto:behavior@ithacaadulthockey.com"
      >behavior@ithacaadulthockey.com</a
    >. A board member will be assigned to review your concern, investigate the
    particulars, and take any corrective action deemed necessary by the Board.
  </div>
</div>
