<div class="card shadow">
  <div class="card-body">
    <div>
      <div class="card m-0 p-0 border-0">
        <div class="card-body">
          <div class="featured-article rounded-2">
            <img src="assets/2022-23_Season/images/etc/featured.png" class="article-image" />
            <div class="featured-text">
              <a href="#"> FALL/WINTER 2022-23 SEASON UNDERWAY </a>
            </div>
          </div>
  
          <div
            class="sub-featured-articles d-flex justify-content-between gap-4"
          >
            <div class="card sub-featured-article">
              <img src="assets/2022-23_Season/images/etc/featured-3_800x535.png" class="card-image-top article-image" />
              <div class="card-body">
                <div class="card-title fw-bold" style="height: 35px">Instant Replay jerseys are an instant classic</div>
              </div>
            </div>

            <div class="card sub-featured-article">
              <img src="assets/2022-23_Season/images/etc/featured-2_800x535.png" class="card-image-top article-image" />
              <div class="card-body">
                <div class="card-title fw-bold" style="height: 35px">Kirbylab jerseys still MIA!</div>
              </div>
            </div>
          </div>
  
          <div class="small-article mt-4 d-flex gap-2">
            <div class="card sm-article-img-card">
              <img src="assets/2022-23_Season/images/etc/featured-4_800x500.png" class="sm-article-img card-image">
            </div>
            <div class="sm-article-title fw-bold">
              These jerseys are blue-tiful
            </div>
          </div>
  
          <div class="small-article mt-4 d-flex gap-2">
            <div class="card sm-article-img-card">
              <img src="assets/2022-23_Season/images/etc/featured-5_800x500.png" class="sm-article-img card-image">
            </div>
            <div class="sm-article-title fw-bold">
              I still need more team photos!
            </div>
          </div>
  
        </div>        

      </div>
    </div>
  </div>
</div>
