<div class="wrapper d-flex justify-content-center">
  <div class="login-wrapper card">
    <div class="card-body d-flex flex-column gap-4">
      <div class="d-flex align-items-center gap-2">
        <img src="assets/iaha-logo.png" height="50px" />
        <span class="fs-4">IAHA Fantasy Hockey</span>
      </div>

      <div>
        <label>Username</label>
        <input class="form-control" type="text" placeholder="Username" autocomplete="off" />
      </div>

      <div>
        <label>Password</label>
        <input class="form-control" type="password" placeholder="Password" autocomplete="off" />
      </div>

      <div class="d-flex justify-content-between align-items-center">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="rememberMe">
          <label class="form-check-label" for="rememberMe">
            Remember me
          </label>
        </div>
        <button class="btn btn-link">Forgot Password</button>
      </div>

      <button class="btn btn-primary">Login</button>
    </div>
  </div>
</div>
